body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
    
}

.header-icons .icons{
    width: 300px;
    height: auto;
    margin-right: 20px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
}
.header-icons .icons a{
    text-decoration: none;
    display: inline;
    color: black;
}

/* ---- nav del header ---- */
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;

}
.nav .logo img{
    width: 250px;
    justify-content: center;
    margin-left: 50px;
}
.nav .perfil{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

}
.nav .perfil a{   
    padding: 5px;
    color: black;
}
.nav .perfil a:hover{
    text-decoration: none;
    background-color: #47cfac;
}

/* ---- main ---- */
main {
    width: 100%;
    height: 420px;
    background-image: url("../../assets/img/Cover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main h1{
    margin: 0;
    padding-top: 150px;
    color:#47cfac;
    display: flex;
    justify-content: center;
}

main .boton-principal{
    margin-top: 60px;
    margin-left: 48%;
    padding: 5px;
    color: #47cfac;
    background-color: black;
    transition: background-color .5s;
    border: none;
}
main .boton-principal:hover{
    color: black;
    background-color: #47cfac;
   
}